/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
 
@media screen and (max-width:480px) {
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  body {
      line-height: 1;
  }
  ol, ul {
      list-style: none;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }

  * {
    background: #fff;
  }

  h2:before {
    content: "";
    line-height: 50px;
  }

  h2, legend {
    font: bold 20px garamond, sans-serif;
  }

  ul {
    outline: 10px solid #000;
    margin: 10px 3px 3px 3px;
  }

  ul li {
    display: block;
    font:bold 20px Arial;
  }

  ul li a {
    color:#666;
    display:block;
    height:80px;
    line-height:36px;
    padding:0px 0px 0px 30px;
    background:#fff;
    text-decoration:none;
    border: 1px solid #000;
  }

  a {
    color: #148782;
    line-height: 25px; 
   }

  a:hover {
    background: #0585f5; 
    color: #ffe; 
   } 

  .Image {
    visibility: hidden;
    width: 0px;
  }

  .First_text{
    text-align: justify;
    padding: 5px 10px;
    outline: 2px solid #000;
  }

  .Second_text {
    visibility: hidden;
    height: 0px;
  }

  .Image2{
    visibility: hidden;
    width: 0px;
  }

  .Third_text{
    visibility: hidden;
    height: 0;
  }

  .Faq {
    clear: both;
    padding: 5px 10px;
    outline: 1px solid #000;
  }
   
  .ParName {
    text-align: center;
  }

  dd {
    padding: 5px 0 5px 20px;
    text-align: justify;
  }

  .Cont {
    visibility: hidden;
    height: 0;
  }

  .Map {
    height: 200px;
    width: 320px;
    padding: 0 30px 10px 0;
  }

  .icon{
    width: 16px;
  }

  fieldset {
    clear: both;
    border: 4px;
    padding: 5px 20px;
    outline: 1px solid #000;
    text-align: center;
  }

  .Form div {
    clear: both;
    line-height: 30px; 
  }

  input {
    border: 2px solid #000;
    padding: 0 10px;
  }

  footer{
    clear: both;
    outline: 1px solid #000;
    margin: 0 0 10px 0;
  }

  footer div{
    outline: 1px solid #000;
    height: 200px;
    display: block;
    font:bold 16px Arial;
    width: 100%;
    background-color: #383838;
  }

  .Fut {
    visibility: hidden;
    height: 0;
  }

  .Let{
    background-color: #C8C8C8;
  }

  .Let p{
    background-color: #C8C8C8;
    padding: 5px 0 5px 20px;
    font:bold 16px Times New Roman;
    font-weight: 300;
  }

  .Ozi a{
    background-color: #C8C8C8;
    display: block;
    width: 300px;
    color: #000;
    text-decoration: none;
    float: left;
  }
   
  .Ozi a:last-child{
    color: red;
    display: inline;
    float: left;
    position: absolute;
    right: 1px;
  }

  input{
    background: #F0F0F0;
  }

  .Poc{
    clear: both;
    text-align: center;
  }
}
